
*.lock
Deposits.xml
bin/Debug/netcoreapp2.0/Microservices.Deposits.dll
.vs/Microservices.Deposits/v15/Server/sqlite3/storage.ide
.vs/Microservices.Deposits/v15/Server/sqlite3/storage.ide-shm
.vs/Microservices.Deposits/v15/Server/sqlite3/storage.ide-wal
.vs/Microservices.NetCore/DesignTimeBuild/.dtbcache
bin/Debug/netcoreapp2.0/Microservices.Deposits.pdb
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Microservices.Deposits.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/Microservices.Deposits.dll
obj/Debug/netcoreapp2.0/Microservices.Deposits.pdb
obj/Microservices.Deposits.csproj.nuget.cache
obj/Microservices.Deposits.csproj.nuget.g.props
obj/project.assets.json
bin/Debug/netcoreapp2.0/Microservices.Deposits.deps.json
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Microservices.Deposits.csprojAssemblyReference.cache
obj/Microservices.Deposits.csproj.nuget.cache
obj/Microservices.Deposits.csproj.nuget.g.props
obj/project.assets.json
bin/Debug/netcoreapp2.0/Microservices.Deposits.deps.json
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Microservices.Deposits.csprojAssemblyReference.cache
obj/Microservices.Deposits.csproj.nuget.cache
obj/Microservices.Deposits.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Microservices.Deposits.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Microservices.Deposits.csprojAssemblyReference.cache
obj/Microservices.Deposits.csproj.nuget.cache
obj/Microservices.Deposits.csproj.nuget.g.props
obj/project.assets.json
*.props
