@model ICollection<Deposit>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h2>Депозиты</h2>
    </div>
    <div>
        @foreach (var deposit in Model)
        {
            @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
            {
                <div style="padding:8px;">
                    <p><b>@deposit.Name</b></p>
                    <p>Процентная ставка: @deposit.InterestRate %</p>
                    @if (deposit.Capitalization == true)
                    {
                        <p>С капитализацией процентов</p>
                    }
                    else
                    {
                        <p>Без капитализации процентов</p>
                    }
                    <p><button name="guid" value="@deposit.Guid">Удалить</button></p>
                </div>
                }
            }
    </div>
    <div>
        <hr />
        <p>Добавить депозит</p>
        @using(Html.BeginForm("Add", "Home", FormMethod.Post, new { id = "form-add" }))
        {
            <div id="validatorMessage" style="color:red;">
                <label id="validationMessage"></label>
            </div>
            <p><input type="text" name="name" placeholder="Название" /></p>
            <p><input type="text" name="interestRate" id="ir" placeholder="Процентная ставка" /></p>
            <p><input type="checkbox" name="capitalization" />Капитализация процентов</p>
            <p><input type="button" value="Добавить" onclick="validate()" /></p>
        }
    </div>
    <script>
        function validate(form) {
            var form = document.getElementById("form-add");
            var interestRate = document.getElementById("ir").value;
            var label = document.getElementById("validatorMessage");

            if (isNaN(interestRate)) {
                label.innerText = "Процентная ставка должна быть числом";
            }
            else {
                if (Number(interestRate) < 0) {
                    label.innerText = "Процентная ставка должна быть положительным числом";
                }
                else {
                    form.submit();
                }
            }
        }

    </script>
</div>